<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--开启缓存-->
        <setting name="cacheEnabled" value="true"></setting>
        <setting name="localCacheScope" value="SESSION"></setting>
    </settings>
    <typeAliases>
        <package name="com.jiepi.entity"></package>
    </typeAliases>

    <!--<plugins>-->
        <!--<plugin interceptor="com.jiepi.dao.MyFirstPlugin">-->
            <!--<property name="username" value="root"></property>-->
            <!--<property name="password" value="123456"></property>-->
        <!--</plugin>-->
    <!--</plugins>-->
    
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property  name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>


    <databaseIdProvider type="DB_VENDOR">
        <!--为不同商场其别名-->
        <property name="MySQL" value="mysql"/>
        <!--<property name="Oracle" value="oracle"/>-->
    </databaseIdProvider>

    <mappers>
        <!--映射文件注册-->
        <!--<mapper resource="DepartmentManger.xml"/>-->
        <!--<mapper resource="EmployeeMangerMap.xml"/>-->
        <mapper resource="EmployeeManger.xml"/>
        <!--<mapper resource="EmployeeMapperDynamicSql.xml"/>-->
    </mappers>
</configuration>